.idea
.fleet
.gradle
.kotlin
*.iml
*.ipr
*.iws
/build
hs_err_*.log
local.properties
local.*.properties
.DS_Store
/samples/hello-world/game.korgegame.storage
/samples/hello-world/game.storage
/samples/hello-world/settings.json
out.txt
err.txt
/korim/demo.png
*.hprof
*.xcuserstate
xcuserdata
kotlin-js-store/
/stagedRepositoryId
/*/build
/java_*.hprof
/local.properties
$catalog.json
/out
/bin
.fleet/
.vscode/
.projects/
.bundles/
.classpath
.project
.renderdoc/
.settings/
*.bak
*.bundle.js
*.bundle
*.log
*.vi
*~local.properties
application.conf
classes/
gen-external-apklibs
log/
out/
target/
Thumbs.db
**/*Framework/build/
/build/
!gradle-wrapper.jar
logs
npm-debug.log*
package-lock.json
yarn.lock
build/Release
node_modules/
jspm_packages/
typings/
.npm
build/
*.fab
webpack.config.d/
*_fab
DerivedData/
Builds/
!xcschemes
*.moved-aside
!xcshareddata
!default.xcworkspace
*.xcworkspacedata
*.xccheckout
*.xcscmblueprint
IDEWorkspaceChecks.plist
node_modules
dist/
static/
.env.local
.env.*.local
pnpm-debug.log*
.cxx/
*.code-workspace
reports/
services-dist.zip
services-dist/
**/examples/out/
kotlin-js-store
gradle/debug/*.xml
