gen/
.fleet/
.idea/
.vscode/
.projects/
.bundles/
.classpath
.DS_Store
.project
.renderdoc/
.settings/
*.bak
*.bundle.js
*.bundle
*.iml~
*.log
*.hprof
examples/res/*.protobuf
examples/res/*.json
*.vi
*~local.properties
application.conf
classes/
gen-external-apklibs
local.properties
log/
out/
target/
Thumbs.db
**/*Framework/build/
/build/
!gradle-wrapper.jar
logs
npm-debug.log*
package-lock.json
yarn.lock
build/Release
node_modules/
jspm_packages/
typings/
.npm
build/
*.fab
webpack.config.d/
*_fab
DerivedData/
Builds/
xcuserdata
!xcschemes
*.moved-aside
!xcshareddata
!default.xcworkspace
*.xcworkspacedata
*.xccheckout
*.xcuserstate
*.xcscmblueprint
IDEWorkspaceChecks.plist
node_modules
dist/
static/
.env.local
.env.*.local
pnpm-debug.log*
.cxx/
*.code-workspace
reports/
services-dist.zip
services-dist/
**/examples/out/
.gradle
kotlin-js-store
gradle/debug/*.xml

.idea
.fleet
.kotlin
*.iml
*.ipr
*.iws
/build
hs_err_*.log
local.*.properties
/samples/hello-world/game.korgegame.storage
/samples/hello-world/game.storage
/samples/hello-world/settings.json
out.txt
err.txt
/korim/demo.png
kotlin-js-store/
/stagedRepositoryId
/*/build
/java_*.hprof
/local.properties
$catalog.json
/out
/bin
